#container-wrapper {
  /* background: var(--secondary-bg); */
  background: linear-gradient(
    to bottom,
    var(--primary-bg) 0%,
    var(--secondary-bg) 50%,
    var(--primary-bg) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  overflow: hidden;
}

#container {
  background: linear-gradient(
    to left,
    var(--primary-bg) 0%,
    var(--secondary-bg) 150%,
    var(--primary-bg) 100%
  );
  /* background: var(--primary-bg); */
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#container a {
  text-decoration: none;
}

.back-to-home {
  background: var(--tertiary-bg);
  color: var(--secondary-text);
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  border-radius: 100%;
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h1,
h2 {
  margin: 0;
  color: var(--primary-text);
}

.welcome h1 {
  margin-top: 20px;
}
#get-started-box {
  /* background: var(--tertiary-bg); */
  background: linear-gradient(
    to right,
    var(--tertiary-bg) 0%,
    var(--secondary-bg) 100%,
    var(--tertiary-bg) 100%
  );
  padding: 12px;
  margin-top: 16px;
  border-radius: 8px;
}

#get-started-box h2 {
  color: var(--secondary-text);
}

#get-started-box button {
  outline: none;
  border: none;
  background: var(--secondary-bg);
  color: var(--primary-text);
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

#get-started-box button:hover {
  background: var(--primary-bg);
}

@media (min-width: 43rem) {
  #container {
    width: 80%;
  }
  .back-to-home {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }
}

@media (min-width: 56rem) {
  #container {
    width: 70%;
  }
}
