#coursesWrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 20px;
  padding: 0;
}

@media (min-width: 36rem) {
  #coursesWrapper {
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
  }
}
