#homeContainer {
  /* background: linear-gradient(
    to right,
    var(--primary-bg) 0%,
    var(--secondary-bg) 100%,
    var(--primary-bg) 100%
  ); */
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(22, 38, 96, 0.95), rgba(22, 38, 96, 0.95)),
    url("/img3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#triviaLogo {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.triviaTitle {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-text);
  letter-spacing: 6px;
  margin-top: 10px;
}

.icon {
  width: 204px;
  height: 154px;
  opacity: 0.1px;
  z-index: 1;
}

#questionIcon {
  top: -300%;
}

#brain {
  -webkit-mask: url("/brain1.png") no-repeat center;
  -webkit-mask-size: contain;
  background-color: white;
  width: 400px;
  height: 200px;
}

#getStarted button {
  outline: none;
  border: none;
  background: var(--primary-text);
  color: var(--secondary-text);
  width: 60vw;
  margin-top: 8px;
  padding: 20px;
  font-size: 14px;
  border-radius: 30px;
}

#getStarted button:hover {
  background: var(--primary-bg);
  color: var(--primary-text);
}

@media (min-width: 36rem) {
  #getStarted button {
    width: 30vw;
    font-size: 18px;
  }
}